.App-logo {
    max-width: 100%;
    height: auto;
    
  }


.App-header {
    padding-bottom: 0.1%;
    padding-left: 0.3%;  
    top:0;
    width: 100%;
    overflow: hidden;
    height:9%;
    color: white;
    background:#0079BE;
    text-align: left;
}